.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #606960;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

button {
    color: whitesmoke;
    background-color: #4ECCA3;
    ;
    display: block;
    margin: 25px auto 20px auto;
    border: 1px solid grey;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 15px 5px;
    width: 150px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    font-weight: lighter;
}

button:hover {
    background-color: #91eda8;
    color: rgb(32, 30, 30);
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}